ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.cabecera {
  background-image: url(https://vanir.es/img/cms/imgBlog_Ciclismo_mar2017_1200w.jpg);
  color: green;
  margin: 0px;
  padding: 25px;text-align:center;font-size: 60px
}

.textoblue{  color: blue;
  margin: 20px;
  padding: 0px;font-size: 30px
}

.titulo2{  color: white;
  margin: 20px;
  padding: 0px;text-align:center;background-color: black;font-size: 40px
}

.texto{  color: black;
  margin: 20px;
  padding: 0px;font-size:20px
;text-align: justify;}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
